@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-text-default-default: var(--color-primitives-gray-900);
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000476837158%;
  --size-space-1200: 48px;
  --size-space-1600: 64px;
  --size-space-200: 8px;
  --size-space-600: 24px;
}

[data-color-mode="SDS-light"] {
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-text-default-default: var(--color-primitives-gray-900);
}

[data-color-mode="SDS-dark"] {
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-text-default-default: var(--color-primitives-white-1000);
}

[data-color-mode="brand-b-light"] {
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-text-default-default: var(--color-primitives-gray-900);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
